{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="text-center">Электронная почта подтверждена</h4>
                </div>
                <div class="card-body">
                    <p>Ваш адрес электронной почты успешно подтвержден. Спасибо за регистрацию!</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

