{% extends 'catalog/base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <h4>Запрос на восстановление пароля на сайте</h4>
                    </div>
                   <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-2">Восстановить пароль</button>
            </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}