{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="text-center">Письмо с новым паролем отправлено!</h4>
                </div>
                <div class="card-body">
                    <p>
                        На ваш адрес электронной почты было отправлено письмо с новым паролем. Пожалуйста, проверьте
                        свою электронную почту.
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
