{% extends 'catalog/base.html' %}
{% load photo_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Создать запись</h2>
                    <form id="createForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Хотите удалить?</p>
                        <div class="mb-3">
                            {{ object.header }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Удалить</button>
                            <a href="{% url 'catalog:blog' %}" class="btn btn-primary">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%  endblock %}